@media screen and (max-width: 1024px){
    header nav {
        height: 50px;


    }

    header nav .logo img {
        height: 33px;


    }

    header nav i {
        font-size: 24px;
        cursor: default;
    }

    .translater ul {
        gap: 35px;
        height: 55px;

    }

    .menu-bar .menu-box {
        height: 50px;
    }


}

@media screen and (max-width: 768px) {

    /* body{
            background-color: #9dff00;
        } */
    header nav {
        height: 45px;


    }

    header nav .logo img {
        height: 30px;


    }

    header nav i {
        font-size: 22px;
        cursor: default;

    }

    .menu-bar {
        /* display: none; */
        top: 45px;
        left: 0;
        border-top: 0.5px solid rgb(255, 255, 255);
    }

    .menu-bar .menu-box {
        display: block;
        height: 100vh;
        text-align: center;
        padding-top: 30px;
    }

    .menu-box li {
        margin-top: 50px;
    }

    .menu-box li:nth-child(1) {
        display: none;
    }

    .menu-box li:nth-child(2) {
        margin-top: 0px;
    }

    .search-box {


        height: 45px;

    }

    .search-bar .search-box input[type=text] {
        font-size: 16px;
        padding: 6px;

    }

    .autocomplete-item {
        font-size: 18px;
        padding: 7px;
        width: 98%;
        margin: 15px 1% 0px 1%;


    }

    .autocomplete-item i {
        font-size: 16px;
        margin: 0px 10px 0px 0px;

    }

    .translater ul {
        gap: 30px;
        height: 50px;
        padding: 0PX 7PX;

    }

    .translater ul li a {
        font-size: 16px;
        padding: 6px 9px;
    }





}

@media screen and (max-width: 480px) {

    /* body{
            background-color: #00ffea;
        } */
    header nav .logo img {
        height: 24px;


    }

    header nav i {
        font-size: 21px;

    }

    .autocomplete-item {
        font-size: 16px;
        padding: 7px;
        width: 98%;
        margin: 12px 1% 0px 1%;


    }

    .autocomplete-item i {
        font-size: 12px;
        margin: 0px 8px 0px 0px;

    }

    .sbtn i {
        font-size: 12px;

    }

    .translater ul {
        gap: 15px;
        height: 40px;
        padding: 0PX 5PX;

    }

    .translater ul li a {
        font-size: 14px;
        padding: 5px 8px;
    }





}

@media screen and (max-width: 320px) {

    /* body{
            background-color: #ff7300;
        } */
    header nav {
        height: 38px;
        padding: 0px 5px;
        flex-wrap: wrap;
        height: auto;
        padding: 5px;

    }

    header nav .logo img {
        height: 22px;


    }

    header nav i {
        font-size: 20px;

    }

    .menu-bar {
        /* display: none; */
        top: 30px;

    }

    .translater ul {
        gap: 14px;
        height: 35px;
        padding: 0PX 4PX;

    }

    .translater ul li a {
        font-size: 12px;
        padding: 5px 7px;
    }
}